.DS_Store
/animal_dataset
/Images_Stanford
/Annotation_Stanford
/dog_videos
/dog_video_images
/dog_videos_mp4
/dog_video_images_v2
/dog_vids
/dogs
/dog_images
/invalid_data
/video_scripts
/DFN_dataset
/compressed_datasets